body{
    background-color: silver;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.table{
    width: 80%;
    margin: 15px auto;
    border: 2px solid black;
    box-shadow: 0 0 10px gray;
    padding: 10px;
    border-radius: 10px;
    border-collapse: collapse;
}

.table td, th{
    border-bottom: 1px solid gray;
    padding: 6px;
}

.table thead{
    background-color: slategray;
}


.table tbody>tr>td:last-child{
    text-align: right;
}

.table tbody tr:hover{
    cursor: crosshair;
    background-color: slategray;
    color: white;
    font-weight: bold;
}



.table tfoot{
    background-color: black;
    color: white;
    text-align: center;
}

#container{
    background-color: white;
    box-shadow: 0 0 10px gray;
    height: 100vh; /* vertical height */
    padding: 15px;
    width: 60%;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    #container{
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #container{
        width: 90%;
    }
}

@media screen and (min-width: 1280px) {
    #container{
        width: 80%;
    }
}

@media screen and (min-width: 1680px) {
    #container{
        width: 60%;
}
}
    
